@model IEnumerable<CapaEntidad.entPaciente






>

@{
    ViewData["Title"] = "ListarPaciente";
}

<h4>Listado de Citas</h4>

<p>
    @Html.ActionLink("Insertar", "InsertarPaciente")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rucPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dirPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEstPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rucPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dirPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstPaciente)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarPaciente", new { id = item.idPaciente }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Eliminar", "EliminarPaciente", new { id = item.idPaciente }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
