@model CapaEntidad.entPaciente







@{
    ViewData["Title"] = "EliminarPaciente";
}

<h1>EliminarPaciente</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>entPaciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rucPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rucPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dirPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dirPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idTipoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEstPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEstPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecCreacion)
        </dd>
    </dl>
    
    
    <form asp-action="ConfirmarEliminarPaciente">
        <input type="hidden" name="id" value="@Model.idPaciente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
