@model IEnumerable<CapaEntidad.entCliente>

@{
    ViewData["Title"] = "ListarCliente";
}

<h4>Listado de Citas</h4>

<p>
    @Html.ActionLink("Insertar", "InsertarCliente")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rucCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dirCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEstCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rucCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dirCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstCliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarCliente", new { id = item.idCliente }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Eliminar", "EliminarCliente", new { id = item.idCliente }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
