@model IEnumerable<CapaEntidad.entCita>

@{
    ViewData["Title"] = "ListarCita";
    Layout = ViewBag.Layout;
    var Tipo = ViewBag.Tipo as string;
}

<div class="mt-4">
    <h4>Listado de Citas</h4>
    @if (Tipo == "Paciente")
    {
        <a href="@Url.Action("InsertarCita", "MantenedorCita")" class="btn btn-success mb-3">Crear Nueva Cita</a>
    }
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.idCita)</th>
                <th>@Html.DisplayNameFor(model => model.idMedico)</th>
                <th>@Html.DisplayNameFor(model => model.fCita)</th>
                <th>@Html.DisplayNameFor(model => model.sedeCita)</th>
                <th>@Html.DisplayNameFor(model => model.consCita)</th>
                <th>@Html.DisplayNameFor(model => model.tCita)</th>
                <th>@Html.DisplayNameFor(model => model.estCita)</th>
                <th>Acciones</th>
            </tr>
            <tbody>
            @foreach (var cita in Model)
            {
                <tr>
                    <td>@cita.idCita</td>
                    <td>@cita.idMedico</td>
                    <td>@cita.fCita</td>
                    <td>@cita.sedeCita</td>
                    <td>@cita.consCita</td>
                    <td>@cita.tCita</td>
                    <td>@cita.estCita</td>
                    <td>
                        @if (Tipo == "Paciente")
                        {
                            <a href="@Url.Action("InsertarPago", "Pago", new { idCita = cita.idCita })" class="btn btn-sm btn-success">Pagar</a>
                        }
                        @if (Tipo == "Medico")
                        {
                            <a href="@Url.Action("InsertarDiagnostico", "Diagnostico", new { idCita = cita.idCita })" class="btn btn-sm btn-success">Realizar Diagnostico</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </thead>

    </table>
</div>